<div class="container position-relative">
  <img
    class="img-fluid d-sm-block mt-5"
    src="assets/img/home.png"
    alt="Imagem de um carro para as boas vindas"
  />
  <div
    class="card w-50 h-100 position-absolute top-50 start-50 translate-middle text-center opacidade80"
  >
    <div class="card-header">
      <p class="m-0">Sistema de dados da FORD</p>
    </div>
    <div class="card-body text-primary">
      <p class="card-title">Bem vindo ao sistema!</p>
      <p class="card-subtitle mt-3">Acesse o dashboard pelo menu lateral</p>
    </div>
  </div>
</div>
